<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
  <h1>About Us Page</h1>
  <p>We manage this AUTOHUB page help u in buying and selling of cars.</p>
  <p>Our Team</p>
</div> 
<div class="card1">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Chaitanya Nath Singh</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets\person2.jpg" alt="Chaitanya Nath Singh" width="250px" height="400px">
  <mat-card-content>
    <p>Designer</p>
    <p>Id no.: 190031071</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Geethika Reddy Alla</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets\person1.jpg" alt="Geethika Reddy Alla" width="250px" height="400px">
  <mat-card-content>
    <p>Manager</p>
    <p>Id no.: 190030050</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>M V S Bhushan Chowdary</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets\person3.jpg" alt="M V S Bhushan Chowdary" width="250px" height="400px">
  <mat-card-content>
    <p>Code Tester</p>    
    <p>Id no.: 190031002</p>
  </mat-card-content>
</mat-card>
</div>
</body>
</html>
<router-outlet></router-outlet>