<mat-toolbar color="primary">
      <span routerLink='/home'>Home</span>
    <span class="example-spacer"></span>
      <span>Buy Cars</span>
    <span class="example-spacer"></span>
      <span routerLink='/sell'>Sell</span>
</mat-toolbar>
<div class="card1">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Lamborghini Huracan</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets\download.jpg" alt="Photo of a ertiga">
    <mat-card-content>
      <p>
        <a href="https://en.wikipedia.org/wiki/Lamborghini_Hurac%C3%A1n"><button mat-raised-button color="primary">Car Details</button></a>
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ertiga</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets\ertiga.jpg" alt="Photo of a Ertiga">
    <mat-card-content>
      <p>
        <a href="https://en.wikipedia.org/wiki/Suzuki_Ertiga"><button mat-raised-button color="primary">Car Details</button></a>
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Thar</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets\thar.jpg" alt="Photo of a Thar">
    <mat-card-content>
      <p>
        <a href="https://en.wikipedia.org/wiki/Mahindra_Thar"><button mat-raised-button color="primary">Car Details</button></a>
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
</div>
<div class="card2">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ferrari</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets\ferrari.jpg" alt="Photo of a Ferrari">
    <mat-card-content>
      <p>
        <a href="https://en.wikipedia.org/wiki/Enzo_Ferrari_(automobile)"><button mat-raised-button color="primary">Car Details</button></a>
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Exclusive </button>
      </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Fortuner</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets\fortuner.jpg" alt="Photo of a Fortuner">
    <mat-card-content>
      <p>
        <a href="https://en.wikipedia.org/wiki/Toyota_Fortuner"><button mat-raised-button color="primary">Car Details</button></a>
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Swift</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets\swift.jpg" alt="Photo of a Swift">
    <mat-card-content>
      <p>
        <a href="https://en.wikipedia.org/wiki/Suzuki_Swift"><button mat-raised-button color="primary">Car Details</button></a>
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
</div>  
<router-outlet></router-outlet>